

<div *ngIf="!pais; else divPais"  
    class="alert alert-info">
    Espere por favor...
</div>



<ng-template #divPais >
    <div *ngFor="let lugar of pais">
    <div class="row">
        <div class="col-12">
            <h1>País: <small>{{ lugar.name.common}}</small></h1>
        </div>
    </div>

    <div class="row">
        
        <div class="col-4">
            <h3>Bandera</h3>
            <img [src]="lugar.flags.png" class="img-thumbnail" />
        </div>

        <div class="col">
            <h3>Información</h3>
            <ul class="list-group">
                <li class="list-group-item">
                    <strong>Población</strong> {{ lugar.population | number }}
                </li>
                <li class="list-group-item">
                    <strong>Región</strong> {{ lugar.region }}
                </li>
            </ul>
        </div>


    </div>

    <h3>Traducciones</h3>
    <div class="row">
        <div class="col">
            
            <span class="badge bg-primary mr-1">{{ lugar.translations.spa.common }}</span>
            <span class="badge bg-primary mr-1">{{ lugar.translations.deu.common }}</span>
            <span class="badge bg-primary mr-1">{{ lugar.translations.fra.common }}</span>
            <span class="badge bg-primary mr-1">{{ lugar.translations.jpn.common }}</span>
            <span class="badge bg-primary mr-1">{{ lugar.translations.ita.common }}</span>
            <span class="badge bg-primary mr-1">{{ lugar.translations.bre.common }}</span>
            <span class="badge bg-primary mr-1">{{ lugar.translations.por.common }}</span>
            <span class="badge bg-primary mr-1">{{ lugar.translations.nld.common }}</span>
            <span class="badge bg-primary mr-1">{{ lugar.translations.hun.common }}</span>
            <span class="badge bg-primary mr-1">{{ lugar.translations.fin.common }}</span>
       </div>
    </div>


    <!-- <pre class="mt-5">
        {{ pais | json }}
    </pre> -->

</div>
</ng-template>

